<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />


    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <File>logs/restcountries.log</File>
        <encoder>
            <pattern>%d %-5p [%c:%L] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/restcountries.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="vaeke.restcountries" level="debug"/>
    <logger name="org.springframework" level="info"/>

    <logger name="org.springframework.web" level="info"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>